
label{
    width: 100%;
    white-space: nowrap;
}
input{
    border-radius: 5px;
    border-color: #A9A9A9;    
    height: 3.4vh;
    width: 30vw;
}
.input-wrapper{    
    width: 50%;
}
.cpf{
    width: 16vw;
}
.oab{
    width: 9vw;        
}
.oab2{
    width: 4vw;
}