
label{
    width: 100%;
    white-space: nowrap;
}
input{
    border-radius: 5px;
    border-color: #A9A9A9;    
    height: 3.4vh;
    width: 30vw;    
}
.numeroDocumento{
    width: 16vw;
}
.oabNumber{
    width: 9vw;        

}
.oabWord{
    width: 4vw;
}

