<div class="dados-do-processo">
    <h2>Dados do processo</h2>

    <div class="dados-primeira-linha">

        <div>
            <b>Número do Processo</b>
            <p>{{processo?.numero}}</p>
        </div>

        <div>
            <b>Data de Distribuição</b>
            <p>25/03/2024</p>
        </div>

        <div>
            <b>Classe Judicial</b>
            <p>{{processo.classeJudicial}}</p>
        </div>

        <div>
            <b>Assunto</b>
            <p>{{processo.assuntos[0]}}</p>
        </div>

    </div>

    <div class="dados-segunda-linha">

        <div>
            <b>Jurisdição</b>
            <p>{{processo.orgao}}</p>
        </div>

        <div>
            <b>Orgão Julgador</b>
            <p>{{processo.orgaoJulgador.descricao}}</p>
        </div>

    </div>

</div>


<div class="polo-ativo">
    <h2>Polo Ativo</h2>
    <table>
        <tr>
            <th>Participante</th>
            <th>Situação</th>
        </tr>
        <tr *ngFor="let parte of processo.partes">
            <ng-container *ngIf="parte.tipoPolo === 'A' ">
                <td>{{ parte.nome }}</td>
                <td>Ativo</td>
            </ng-container>
        </tr>
    </table>
    <p class="resultados">2 resultados encontrados</p>
</div>


<div class="polo-passivo">
    <h2>Polo Passivo</h2>
    <table>
        <tr>
            <th>Participante</th>
            <th>Situação</th>
        </tr>
        <tr *ngFor="let parte of processo.partes">
            <ng-container *ngIf="parte.tipoPolo === 'P' ">
                <td>{{ parte.nome }}</td>
                <td>Ativo</td>
            </ng-container>
        </tr>
    </table>
    <p class="resultados">2 resultados encontrados</p>
</div>



<div class="documentos">

</div>


<div class="movimentacao">
    <h2>Movimentação do Processo</h2>

    <table>
        <tr>
            <th>Movimentação</th>
            <th>Documento</th>
        </tr>

        <tr *ngFor="let movimentacao of processo.movimentacoes">
            <td>{{movimentacao.data | dateFormat}} - {{movimentacao.descricao}}</td>
        </tr>


    </table>

</div>