.input-select-wrapper {
    display: flex;
    flex-direction: column;            
}

.custom-select {
    height: 100%;
    border-radius: 5px;
    border: 2px solid #A9A9A9;
    height: 3.9vh;
    width: 12vw;
    border-style: inset;
    cursor: pointer;
}
