<main>
    <div class="home">
        <a href="/">Tela Inicial</a>
        <div class="divider-home"></div>
        <span>Pesquisa Avançada</span>
    </div>
    <form >
        <app-advanced-input-select label="Origem" labeltSelectName="origem" selectName="origem" selectId="1" [options]="optionsOrigem" formControlName="origem">
        </app-advanced-input-select>
        <app-advanced-input inputName="cpf" label="CPF/CNPJ" type="cpf" formControlName="cpf"></app-advanced-input>
        <app-advanced-input inputName="numeroProcesso" label="Número do Processo" type="text" formControlName="numeroProcesso"></app-advanced-input>
        <app-advanced-input inputName="nomeParte" label="Nome da parte" type="text" formControlName="nomeParte"></app-advanced-input>
        <app-advanced-input inputName="nomeAdvogado" label="Nome do advogado" type="text" formControlName="nomeAdvogado"></app-advanced-input>
        <app-advanced-input inputName="classeJudicial" label="Classe judicial" type="text" formControlName="classeJudicial"></app-advanced-input>
        <div class="oab">
          <app-advanced-input inputName="oab" label="OAB (000000 A UF)" type="text" formControlName="oab"></app-advanced-input>
          <div class="divider-oab"></div>
          <app-advanced-input inputName="oab2" type="text" formControlName="oab2"></app-advanced-input>
          <div class="divider-oab"></div>
          <app-advanced-input-select labeltSelectName="oab" selectName="oab" selectId="2" [options]="optionsUf" formControlName="uf">
          </app-advanced-input-select>
        </div>
        <div class="btn-form">
          <button type="button" class="btn-clear" (click)="clearForm()">Limpar</button>
          <button class="btn-search" type="submit">Consultar</button>
        </div>
      </form>
</main>