<div class="search-bar">
    <h1>Busca Processual Unificada</h1>
    <div class="search-container">
        <mat-form-field appearance="outline">
            <mat-label>Digite nome, cpf, cnpj ou numero do processo</mat-label>
            <input matInput [matAutocomplete]="auto" [(ngModel)]="searchValue"
                (keydown.enter)="updateSuggestion(); onSearch();">
            <mat-icon matSuffix>search</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div id="matTooltip" [matTooltip]="tooltipMessage" class="icon">?</div>
    </div>

    <div class="search-bar-buttons">
        <button>Limpar</button>
        <button id="btn-consultar" (click)="onSearch()">Consultar</button>
        <button routerLink="/pesquisa-avancada">Pesquisa Avançada</button>
    </div>
</div>



<div *ngIf="processos.length > 0">
    <ul style="list-style: none;">
        <li *ngFor="let processo of processos">
            <div class="processo-container">
                <div class="processo">
                    <p>Processo n° : {{ processo.numero }}</p>
                    <div class="processo-titulo">
                        <p>{{ processo.primeiraParteAtiva?.nome }}</p>
                        <p id="titulo-separator">|</p>
                        <p>{{ processo.primeiraPartePassiva?.nome }}</p>
                    </div>

                    <div class="processo-ter-linha">
                        <p>CPF: {{ processo.primeiraParteAtiva?.numeroDocumento }}</p>
                        <p>Classe Judicial: {{ processo.classeJudicial.descricao }}</p>
                    </div>

                    <div class="processo-qua-linha">
                        <p>Seção: RN</p>
                        <p>Grau: 2</p>
                        <p>Instância: {{ processo.instancia }}</p>
                        <p>Última Movimentação: {{ transformToArray(processo.movimentacoes[0].data)| dateFormat}}</p>
                    </div>
                </div>
                <button (click)="navigateToDetalhes(processo)">Mais Detalhes</button>
            </div>
        </li>
    </ul>
</div>