

.icon {
    width: 35px;
    height: 35px; 
    background-color: #FFC107; /* Green background color */
    color: #000000; /* White text color */
    font-size: 24px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Makes the container a circle */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.search-bar {
    margin-top: 5%;
    margin-left: 22%;
}

.search-bar h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar mat-form-field {
    width: 800px;
}

#matTooltip {
    margin-bottom: 22px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 24px;
    
}

::ng-deep .custom-tooltip {
    white-space: pre-line; /* Permite quebras de linha */
}
  
  
.search-bar-buttons {
    margin-left: 21%;
}

.search-bar-buttons button {
    height: 42px;
    width: 175px;
    margin-left: 10px;
    color: #334B6A;
    font-size: 18px;
    border-radius: 7px;
    border-color: #334B6A;
    background-color: white;
    cursor: pointer;
}

.search-bar-buttons button:hover {
    color: white;
    background-color: #334B6A;
}

#btn-consultar {
    color: white;
    background-color: #334B6A;
}

#btn-consultar:hover {
    color: #334B6A;
    background-color: white;
}






ul{
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin:auto;
}
span{   
    margin-top: 15px; 
}

li{
    margin-top:10px;    
}

.processo-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    align-items:center;       
    border-radius: 5px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(248.62500607967377, 248.62500607967377, 248.62500607967377, 1);
    width: 55vw;
}
a{
    color:rgba(0, 123.0000002682209, 255, 1);
    cursor: pointer;    
    text-decoration:underline;
}
.processo {
    width: 70%;
}

.processo p {
    font-size: 15px;
}

.processo p, .processo-ter-linha, .processo-qua-linha {
    margin: 3px 0;
}

.processo-titulo{
    display: flex;
    align-items: baseline;
}

.processo-titulo p{
    font-size: 18px;
    margin-right: 10px;
}

#titulo-separator{
    font-size: 25px;
}

.titulo-separator{
    margin-left: 10px;
    margin-right: 10px;
}

.processo-ter-linha {
    display: flex;
}

.processo-ter-linha p {
    margin-right: 20px;
    font-size: 15px;
}

.processo-qua-linha {
    display: flex;
}

.processo-qua-linha p {
    margin-right: 30px;
    font-size: 15px;
}

.processo-container button {    
    margin-left: 50px;
    height: 37px;
    width: 140px;    
    font-size: 15px;
    border-radius: 7px;      
    cursor: pointer;


    background-color: #334B6A;
    color: white;

    &:hover{
        background-color: white;
        color:#334B6A;
    }
}

.processo-container button:hover {
    color: black;
    background-color: white;
}
  