<main class="main">
    <header>
        <div class="header-left">
        <img src="../assets/trf5-image.png" alt="">
        <div class="header-title">
            <p>{{headerTitle2}}</p>
        </div>
        </div>

        <nav>
        <ul>
            <li>
            <a href="#pesquisa">Acessibilidade</a>
            </li>
            <li>
            <a href="https://www.trf5.jus.br/index.php/consulta-processual-fisico-e-eletronico">Ir para o portal da 5° Região</a>
            </li>
        </ul>
        </nav>
    </header>
  
    <div class="header-divider"></div>
  
    <div class="search-bar">

      <h1>Busca processual unificada</h1>

        <div class="search-container">
            <mat-form-field appearance="outline">
                <mat-label>Digite nome, cpf, cnpj ou numero do processo</mat-label>
                <input matInput [matAutocomplete]="auto" [(ngModel)]="searchValue" (input)="onSearch()" (keydown.enter)="onSearch(); updateSuggestion()">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                    {{ option }}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-icon id="matTooltip" [matTooltip]="tooltipMessage" matTooltipClass="custom-tooltip">help_outline</mat-icon>
        </div>
  
        <div class="search-bar-buttons">
            <button>Limpar</button>
            <button id="btn-consultar" (click)="onSearch(); updateSuggestion()">Consultar</button>
            <button routerLink="/pesquisa-avancada">Pesquisa Avançada</button>
        </div>
    </div>
  
    <div *ngIf="listaDeProcessos.length > 0">
      <ul style="list-style: none;">
        <li *ngFor="let processo of listaDeProcessos">
          <div class="processo-container">
            <div class="processo">
              <p>Processo n° : {{ processo.numeroDoProcesso }}</p>
              <p id="nome-pessoa-processo">{{ processo.nome }}<p>
              <div class="processo-ter-linha">
                <p>CPF: {{ processo.cpf }}</p>
                <p>Classe Judicial: {{ processo.classeJudicial }}</p>
              </div>
              <div class="processo-qua-linha">
                <p>Seção: {{ processo.secao }}</p>
                <p>Grau: {{ processo.grau }}</p>
                <p>Instância: {{ processo.instancia }}</p>
                <p>Última Movimentação: {{ processo.ultimaMovimentacao }}</p>
              </div>
            </div>
            <button routerLink="/mais-detalhes">Mais Detalhes</button>
          </div>
        </li>
      </ul>
    </div>



  </main>
  